@import "../../node_modules/bootstrap/scss/bootstrap";

.bg-site {
  background-color: rgb(184, 134, 11);
}

p {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.h1-font {
  font-family: "Barlow", sans-serif;
  color: black;
  font-size: 3, 5em;
}

.h2-font {
  font-family: "Barlow", sans-serif;
  color: rgb(128, 128, 128);
  font-size: 2, 5em;
}
.h1-color {
  background-color: rgb(184, 134, 11);
  display: inline;
}

a {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 2em;
  justify-content: space-evenly;
  margin-right: 1em;
}
a:hover {
  text-decoration: none;
  color: brown;
}

.textflow-heading-box {
  background: rgb(184, 134, 11);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.navbar-box {
  background: rgb(184, 134, 11);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.image-container {
  height: 300px;
  object-fit: cover;
}

.image-container2 {
  height: 100%;
  object-fit: cover;
}

.image-composer {
  height: 80%;
  background-image: url("/images/Scorewriting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.image-webdeveloper {
  height: 80%;
  background-image: url("/images/Coding.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  justify-content: flex-start;
}
